# Copy this file and rename to .env - never commit your .env to GitHub
# Generate a secure password by running: openssl rand -base64 32

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=postgres

# user and db are defaults - don't change
# enter a password for (can use openssl rand -base64 32 in your terminal to generate a secure one)
